extends layout

block content
	h3 회원가입 페이지
	.row
		.input-field.col.s3
			input#id.validate(type='text')
			label(for='first_name') Please enter your id
		.input-field.col.s3
			input#pw.validate(type='text')
			label(for='last_name') Please enter your pw
	button.waves-effect.waves-light.btn 회원가입
	script.
		$('button').click(function(){
			var id = $('#id').val();
			var pw = $('#pw').val();
			if ( id =="" || pw == ""){
				Materialize.toast('enter correctly.', 1000, '', function(){
					location.reload();
				});
			} else{
				$.post( "http://localhost:4000/new", { id: id, pw: pw } ).done(function( data ) {
					if(data == "yes"){
						Materialize.toast('Your id is created!', 1000, '', function(){
							location.href = '/';
						});
					} else {
						Materialize.toast('you have to use another id.', 1000, '', function(){
							location.reload();
						});
					}
				});
			}
		});
		$('input').keypress(function(e) {
					if(e.which == 13) {
						$('button').click();
					}
		});