extends layout

block content
	h3 회원가입 페이지
	input(type="text" name="id" placeholder="Please enter your id")
	input(type="text" name="pw" placeholder="Please enter your pw")
	button(type="button") 가입하기
	script.
		$('button').click(function(){
			var id = $('input[name="id"]').val();
			var pw = $('input[name="pw"]').val();
			if ( id =="" || pw == ""){
				alert("enter correctly.");
				location.reload();
			} else{
				$.post( "http://localhost:4000/new", { id: id, pw: pw } ).done(function( data ) {
					if(data == "yes"){
						alert("Your id is created!");
						location.href = '/';
					} else {
						alert("you have to use another id.");
						location.reload();
					}
				});
			}
		});